[template=group-nav-bar] {
  .bar {
    height: 40px;
    display : flex;
    flex-direction: row;
//    top: 0;
//    left: 0;
//    right: 0;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(0, 0,0,0.1);

    .bar-item {
      background: $primary;
      flex: 1 1 auto;
      height: 40px;
      line-height: 37px;
      border-bottom: 0px solid white;
      color: white;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      transition: .3s;

      &:hover {
//        background: 3px solid darken($primary, 2.5%);
      }

      &.active {
        border-bottom: 3px solid white;
//        color: black;
      }
    }
  }
}