[template=group-nav-bar] {
  .bar {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);


    .bar-item {
      background: $primary;
      flex: 1;
      height: 40px;
      line-height: 40px;
      border-bottom: 0px solid white;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      cursor: pointer;
      transition: .3s;
//      font-size: 16px;
      text-transform: uppercase;

      &:hover {
        color: white;
      }

      &.active {
        font-weight: bold;
        border-bottom: 2px solid white;
        color: white;
      }
    }
  }


  ng-transclude {
    display: inline-flex;
    width: 100%;
  }

  .group-nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    transition: .3s;

    .content-row {
      width: 100%;
//      height: 600px;
      flex: 1 0 auto;

      overflow-y: auto;
    }
  }

  .question {
    @extend .sub-header;
    background: $body;
//    text-align: left;
  }

  .choices {
//    position: fixed;
//    bottom: 0;
//    left: 0;
//    right: 0;
    padding: 30px;

    .choice-header {
      background: $body;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

    .butn {
      margin-bottom: 15px;
    }

    .choice {
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      display: block;
      line-height: 30px;
      padding: 10px 15px;
      background: lighten($primary, 5%);

      &:nth-child(2n) {
      background: lighten($primary, 10%);
      }
    }

  }
}