<script type="text/ng-template" id="group-nav-bar.html">
    <div template="group-nav-bar">
        <div class="bar">
            <div class="bar-item" ng-class="{active:isCurrentGroupNav('leaderboard')}" ng-click="setCurrentGroupNav('leaderboard')">
                Leaderboard
            </div>
            <div class="bar-item" ng-class="{active:isCurrentGroupNav('bet')}" ng-click="setCurrentGroupNav('bet')">
                Bet
            </div>
            <div class="bar-item" ng-class="{active:isCurrentGroupNav('chat')}" ng-click="setCurrentGroupNav('chat')">
                Chat
            </div>
        </div>
    </div>
</script>