[template=top-bar] {
  .bar {
    height: 40px;
//    display : flex;
//    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: darken($primary, 5%);
    position: absolute;
    transition: .3s;
    transform: translateY(-40px);

    &.active {
      transform: translateY(0);
    }

    .menu-butn {
      color: #ffffff;
      line-height: 40px;
      font-size: 20px;
      width: 40px;
      text-align: center;
      cursor: pointer;
      float: right;
    }

    .back-butn {
      @extend .menu-butn;
      float: left;

    }
  }
}