html {
  height: 100%;
  overflow: hidden; }

body {
  background: #2b72ae;
  max-height: 100vh;
  overflow: hidden;
  color: #444;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.2; }

[screen] {
  opacity: 0;
  transform: translateX(-50px);
  transition: .3s;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  display: block; }
  [screen].active {
    opacity: 1;
    transform: translateX(0); }

.butn {
  background: none;
  border: 2px solid #2b72ae;
  border-radius: 50px;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #2b72ae;
  outline: none;
  transition: .3s;
  cursor: pointer; }
  .butn.block {
    display: block; }
  .butn.primary {
    border: 2px solid #2b72ae;
    background: #2b72ae;
    color: white; }
    .butn.primary:hover {
      background: #3d8ccf;
      color: #ffffff; }
  .butn.grey {
    border: 2px solid #444;
    background: #444;
    color: white; }
    .butn.grey:hover {
      border: 2px solid #5e5e5e;
      background: #5e5e5e;
      color: #ffffff; }
  .butn.green {
    border: 2px solid #97bc41;
    color: #97bc41; }
    .butn.green:hover {
      border: 2px solid #acca66;
      background: #acca66;
      color: #ffffff; }
  .butn:hover {
    border: 2px solid #3d8ccf;
    background: #3d8ccf;
    color: #ffffff; }

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: #444;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none; }
  .input.block {
    display: block;
    width: 100%; }

[template=alert] .alert-message {
  padding: 15px;
  color: #ffffff;
  background: #b63c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  transition: .3s;
  opacity: 0;
  transform: translateY(80px);
  cursor: pointer; }
  [template=alert] .alert-message.red {
    background: #b63c3c; }
  [template=alert] .alert-message.primary {
    background: #2b72ae; }
  [template=alert] .alert-message.active {
    transform: translateY(0);
    opacity: 1; }

[template=feed] {
  background: #2b72ae;
  padding: 8px;
  overflow-y: auto; }
  [template=feed] .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  [template=feed] .item-sizing {
    padding: 7px;
    width: 50%; }
  [template=feed] .item {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #eee; }
    [template=feed] .item .item-content {
      overflow: hidden;
      height: 80px; }
    [template=feed] .item .image {
      height: 150px;
      background: #eee;
      margin: -15px -16px 15px;
      background-size: cover;
      background-position: center; }
    [template=feed] .item .score {
      position: absolute;
      top: 85px;
      left: 15px;
      height: 30px;
      line-height: 26px;
      width: 30px;
      border-radius: 100px;
      text-align: center;
      color: #fff;
      background: #97bc41;
      font-size: 10px;
      font-weight: bold;
      border: 2px solid white; }
    [template=feed] .item .title {
      margin-bottom: 5px;
      font-weight: bold;
      line-height: 20px;
      color: black; }
    [template=feed] .item .description {
      font-size: 10px;
      line-height: 20px; }

[template=login] .login-container {
  height: 100vh;
  width: 200px;
  width: auto;
  position: relative;
  background: white; }
  [template=login] .login-container .login-top {
    background: #0B71C7;
    background-position: center;
    height: 40vh;
    position: relative;
    overflow: hidden; }
    [template=login] .login-container .login-top .top {
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
    [template=login] .login-container .login-top .top-title {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 50px;
      color: #ffffff;
      font-weight: 200; }
  [template=login] .login-container .login-bottom {
    height: 60vh;
    padding: 30px 0; }

[template=login] .login-thin {
  padding: 0 75px;
  min-width: 300px;
  max-width: 500px;
  margin: auto; }

[template=nav-bar] .bar {
  height: 50px;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  [template=nav-bar] .bar .bar-item {
    background: #26659a;
    flex: 1 1 auto;
    height: 50px;
    line-height: 47px;
    border-bottom: 3px solid #26659a;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: .3s; }
    [template=nav-bar] .bar .bar-item:hover {
      background: 3px solid #286ba4; }
    [template=nav-bar] .bar .bar-item.active {
      border-bottom: 3px solid white; }
