html {
  overflow-x: hidden;
  height: 100vh; }

body {
  max-height: 100vh;
  overflow: hidden;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.2; }

[screen] {
  opacity: 0;
  transform: translateX(-50px);
  transition: .3s; }
  [screen].active {
    opacity: 1;
    transform: translateX(0); }

.butn {
  background: none;
  border: 2px solid #006f9a;
  border-radius: 50px;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #006f9a;
  outline: none;
  transition: .3s;
  cursor: pointer; }
  .butn.block {
    display: block; }
  .butn.primary {
    border: 2px solid #006f9a;
    background: #006f9a;
    color: #ffffff; }
  .butn:hover {
    border: 2px solid #0094cd;
    background: #0094cd;
    color: #ffffff; }

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: #333;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none; }
  .input.block {
    display: block;
    width: 100%; }

[template=login] .login-container {
  height: 100vh;
  width: 200px;
  width: auto;
  position: relative;
  background: white; }
  [template=login] .login-container .login-top {
    background: #006f9a;
    height: 40vh;
    position: relative;
    overflow: hidden; }
    [template=login] .login-container .login-top .top {
      height: 10vh; }
    [template=login] .login-container .login-top .vert {
      position: absolute;
      width: 300%;
      height: 100%;
      background: rgba(255, 255, 255, 0.05); }
    [template=login] .login-container .login-top .top-1 {
      background: rgba(255, 255, 255, 0.15); }
    [template=login] .login-container .login-top .top-2 {
      background: rgba(255, 255, 255, 0.1); }
    [template=login] .login-container .login-top .top-3 {
      background: rgba(255, 255, 255, 0.05); }
    [template=login] .login-container .login-top .top-4 {
      background: rgba(255, 255, 255, 0); }
    [template=login] .login-container .login-top .top-title {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 50px;
      color: #ffffff;
      font-weight: 200; }
  [template=login] .login-container .login-bottom {
    height: 60vh;
    padding: 30px 0; }

[template=login] .login-thin {
  padding: 0 75px;
  min-width: 300px;
  max-width: 500px;
  margin: auto; }
