html {
  height: 100%;
  overflow: hidden; }

body {
  background: #8bb9d4;
  background: white;
  background: #f7f7f7;
  max-height: 100vh;
  overflow: hidden;
  color: #444;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.2; }

.case {
  margin: auto;
  max-width: 1000px; }

[screen] {
  opacity: 0;
  transform: translateX(-50px);
  transition: .3s;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  display: block;
  padding-top: 40px; }
  [screen].active {
    opacity: 1;
    transform: translateX(0); }

.butn {
  background: none;
  border: 2px solid #1877ae;
  border-radius: 50px;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #1877ae;
  outline: none;
  transition: .3s;
  cursor: pointer; }
  .butn.block {
    display: block; }
  .butn.primary {
    border: 2px solid #1877ae;
    background: #1877ae;
    color: white; }
    .butn.primary:hover {
      background: #1e96db;
      color: #ffffff; }
  .butn.grey {
    border: 2px solid #444;
    background: #444;
    color: white; }
    .butn.grey:hover {
      border: 2px solid #5e5e5e;
      background: #5e5e5e;
      color: #ffffff; }
  .butn.green {
    border: 2px solid #97bc41;
    color: #97bc41; }
    .butn.green:hover {
      border: 2px solid #acca66;
      background: #acca66;
      color: #ffffff; }
  .butn:hover {
    border: 2px solid #1e96db;
    background: #1e96db;
    color: #ffffff; }

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: #444;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none; }
  .input.block {
    display: block;
    width: 100%; }

[template=alert] .alert-message {
  padding: 10px 15px;
  color: #ffffff;
  background: #b63c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  transition: .3s;
  opacity: 0;
  transform: translateY(80px);
  cursor: pointer; }
  [template=alert] .alert-message.red {
    background: #b63c3c; }
  [template=alert] .alert-message.primary {
    background: #444; }
  [template=alert] .alert-message.active {
    transform: translateY(0);
    opacity: 1; }

[template=feed] {
  padding: 8px;
  overflow-y: auto; }
  [template=feed] .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  [template=feed] .item-sizing {
    padding: 7px;
    width: 33.333333333%; }
    @media (max-width: 768px) {
      [template=feed] .item-sizing {
        width: 50%; } }
  [template=feed] .item {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    position: relative; }
    [template=feed] .item .item-content {
      overflow: hidden;
      height: 80px; }
    [template=feed] .item .image {
      height: 250px;
      margin: -15px -16px 15px;
      background-size: cover;
      background-position: center; }
      @media (max-width: 768px) {
        [template=feed] .item .image {
          height: 150px; } }
    [template=feed] .item .score {
      position: absolute;
      top: 235px;
      left: 15px;
      height: 30px;
      line-height: 26px;
      width: 30px;
      border-radius: 100px;
      text-align: center;
      color: #fff;
      background: #97bc41;
      font-size: 10px;
      font-weight: bold;
      border: 2px solid white; }
      @media (max-width: 768px) {
        [template=feed] .item .score {
          top: 135px; } }
    [template=feed] .item .title {
      margin-bottom: 5px;
      font-weight: bold;
      line-height: 20px;
      color: black; }
    [template=feed] .item .description {
      font-size: 10px;
      line-height: 20px; }

[template=group-hero] .group-hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    [template=group-hero] .group-hero {
      height: 250px; } }
  [template=group-hero] .group-hero .hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3); }
  [template=group-hero] .group-hero .hero-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ffffff;
    padding: 60px 30px;
    text-align: center;
    font-weight: 200;
    font-size: 35px;
    line-height: 1.3; }
    @media (max-width: 768px) {
      [template=group-hero] .group-hero .hero-title {
        padding: 30px 30px; } }

[template=group-nav-bar] .bar {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }
  [template=group-nav-bar] .bar .bar-item {
    background: #1877ae;
    flex: 1;
    height: 40px;
    line-height: 37px;
    border-bottom: 0px solid white;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: .3s; }
    [template=group-nav-bar] .bar .bar-item:hover {
      color: white; }
    [template=group-nav-bar] .bar .bar-item.active {
      border-bottom: 3px solid white;
      color: white; }

[template=group-nav-bar] .group-nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  transition: .3s; }
  [template=group-nav-bar] .group-nav-content .content-row {
    width: 100%;
    height: 600px;
    flex: 1 0 auto; }

[template=group-nav-bar] .leaderboard {
  padding: 15px; }
  [template=group-nav-bar] .leaderboard .leaderboard-item {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 60px; }
    [template=group-nav-bar] .leaderboard .leaderboard-item .image {
      height: 100%;
      width: 60px;
      float: left;
      background-size: cover;
      background-position: center; }
    [template=group-nav-bar] .leaderboard .leaderboard-item .name {
      margin-left: 60px;
      line-height: 20px;
      padding: 10px 15px 0;
      font-weight: bold; }
    [template=group-nav-bar] .leaderboard .leaderboard-item .points {
      height: 100%;
      line-height: 43px;
      padding: 5px;
      width: 60px;
      float: right;
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      background-color: #f7f7f7; }

[template=login] .login-container {
  height: 100vh;
  width: 200px;
  width: auto;
  position: relative;
  background: white;
  margin-top: -40px; }
  [template=login] .login-container .login-top {
    background: #003d60;
    background-position: center;
    height: 40vh;
    position: relative;
    overflow: hidden; }
    [template=login] .login-container .login-top .top {
      height: 100%; }
    [template=login] .login-container .login-top .top-title {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 50px;
      color: #ffffff;
      font-weight: 200; }
  [template=login] .login-container .login-bottom {
    height: 60vh;
    padding: 30px 0; }

[template=login] .login-thin {
  padding: 0 75px;
  min-width: 300px;
  max-width: 500px;
  margin: auto; }

[template=menu] .menu-background {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: .3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  right: 0; }
  [template=menu] .menu-background.active {
    opacity: 1;
    z-index: 19;
    visibility: visible; }

[template=menu] .menu {
  width: 300px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  transition: .3s;
  opacity: 0;
  transform: translateX(300px);
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }
  [template=menu] .menu.active {
    transform: translateX(0);
    opacity: 1; }
  [template=menu] .menu .menu-header {
    height: 200px;
    background: #1877ae; }
    [template=menu] .menu .menu-header .header-title {
      padding: 30px 15px;
      color: #ffffff;
      font-size: 30px;
      font-weight: 200; }
  [template=menu] .menu .menu-item {
    line-height: 40px;
    padding: 0 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #eee; }
    [template=menu] .menu .menu-item .fa {
      color: #1877ae;
      font-size: 20px;
      line-height: inherit; }

[template=nav-bar] .bar {
  height: 40px;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }
  [template=nav-bar] .bar .bar-item {
    background: #1877ae;
    flex: 1;
    height: 40px;
    line-height: 37px;
    border-bottom: 0px solid white;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: .3s; }
    [template=nav-bar] .bar .bar-item:hover {
      color: white; }
    [template=nav-bar] .bar .bar-item.active {
      border-bottom: 3px solid white;
      color: white; }

[template=top-bar] .bar {
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #156898;
  position: absolute;
  transform: translateY(-40px); }
  [template=top-bar] .bar.active {
    transform: translateY(0); }
  [template=top-bar] .bar .menu-butn, [template=top-bar] .bar .back-butn {
    color: #ffffff;
    line-height: 40px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    float: right; }
  [template=top-bar] .bar .back-butn {
    float: left;
    transform: translateX(-40px);
    transition: .3s; }
    [template=top-bar] .bar .back-butn.active {
      transform: translateX(0); }
