<script type="text/ng-template" id="feed.html">
    <div template="feed">
        <div class="item">
            <div class="score">25</div>
            <div class="title">Game Of The Week</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam architecto at blanditiis, eaque eligendi expedita ipsam iusto nam, quibusdam quis reiciendis rem tempore, temporibus. Adipisci beatae excepturi ipsam maiores neque, non officia officiis praesentium quo sed totam unde!
            </div>
        </div>
        <div class="item">
            <div class="score">80</div>
            <div class="title">Game Of The Week</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam architecto at blanditiis, eaque eligendi expedita ipsam iusto nam, quibusdam quis reiciendis rem tempore, temporibus. Adipisci beatae excepturi ipsam maiores neque, non officia officiis praesentium quo sed totam unde!
            </div>
        </div>



    </div>
</script>