[template=feed] {
  padding: 8px;

  overflow-y: auto;

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-sizing {
    padding: 7px;
    width: 33.333333333%;

    @media (max-width: 768px) {
      width: 50%;
    }
  }

  .item {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    position: relative;
//    border-bottom: 1px solid #eee;

    .item-content {
      overflow: hidden;
      height: 80px;
    }

    .image {
      height: 250px;
//      background: #eee;
      margin: -15px -16px 15px;
      background-size: cover;
      background-position: center;

      @media (max-width: 768px) {
        height: 150px;
      }
    }

    .score {
      position: absolute;
      top: 235px;
      left: 15px;
      height: 30px;
      line-height: 26px;
      width: 30px;
      border-radius: 100px;
      text-align: center;
      color: #fff;
      background: $green;
      font-size: 10px;
      font-weight: bold;
      border: 2px solid white;

      @media (max-width: 768px) {
        top: 135px;
      }
    }

    .title {
//      margin-left: 45px;
      margin-bottom: 5px;
      font-weight: bold;
      line-height: 20px;
      color: black;
      //      margin: 5px 0 5px 45px;

    }

    .description {
//      overflow: hidden;
      font-size: 10px;
//      margin-left: 45px;
      line-height: 20px;
    }
  }
}