<script type="text/ng-template" id="feed.html">
    <div class="case">
        <div template="feed" style="height: {{feedHeight()}}">
            <div class="items">

                <div class="item-sizing" ng-repeat="group in groups track by $index">
                    <div class="item" ui-sref="group({ _id: group._id })">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('{{group.image}}')"></div>
                        <div class="item-content">
                            <div class="title" ng-bind="group.title"></div>
                            <div class="description" ng-bind="group.summary"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>