<script type="text/ng-template" id="group-hero.html">
    <div class="case">
        <div template="group-hero">
            <!--<div class="group-hero" style="background-image: url('https://unsplash.it/750/750/?random&10')">-->
            <div class="group-hero" style="background-image: url('http://i4.mirror.co.uk/incoming/article6572401.ece/ALTERNATES/s615b/Arsenal-vs-Manchester-United.jpg')">
                <div class="hero-background"></div>
                <div class="hero-title">
                    Premiership Game Of The Week <br/>
                </div>
            </div>
        </div>
    </div>
</script>