$body: #333;
$primary: #006f9a;

html {
  overflow-x: hidden;
  height: 100vh;
}

body {
  max-height: 100vh;
  overflow: hidden;
  color: $body;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.2;
}

.butn {
  background: none;
  border: 2px solid $primary;
  border-radius: 50px;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: $primary;
  outline: none;
  transition: .3s;
  cursor: pointer;


  &.block {
    display: block;
  }

  &.primary {
    border: 2px solid $primary;
    background: $primary;
    color: #ffffff;
  }

  &:hover {
    border: 2px solid lighten($primary, 10%);
    background: lighten($primary, 10%);
    color: #ffffff;
  }
}

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: $body;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none;

  &.block {
    display: block;
    width: 100%;
  }
}