$body: #444;
$primary: #3784ae;
$green: #97bc41;
$red: #b63c3c;
$orange: #b67e2c;
$purple: #704ab6;

$primary: #1877ae;
$primary: #4380b9;

html {
  height  : 100%;
  overflow: hidden;
}

body {
  background: lighten(saturate($primary, 30%), 30%);
  background: white;
  background: #f7f7f7;
  max-height: 100vh;
  overflow: hidden;
  color: $body;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.2;
}

.case {
  margin: auto;
  max-width: 1000px;
  overflow:hidden;
}

[screen] {
  opacity: 0;
  transform: translateX(-50px);
  transition: .3s;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  display:block;
  padding-top: 40px;
  will-change:transform, opacity;

  &.active {
    opacity: 1;
    transform: translateX(0);

  }
}

.sub-header {
  background: darken($primary, 10%);
  color: white;
  line-height: 20px;
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
}

.butn {
  background: none;
  border: 2px solid $primary;
  border-radius: 50px;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: $primary;
  outline: none;
  transition: .3s;
  cursor: pointer;


  &.block {
    display: block;
  }

  &.primary {
    border: 2px solid $primary;
    background: $primary;
    color: white;

    &:hover {
//      border: 2px solid lighten($primary, 10%);
      background: lighten($primary, 10%);
      color: #ffffff;
    }
  }

  &.grey {
    border: 2px solid $body;
    background: $body;
    color: white;

    &:hover {
      border: 2px solid lighten($body, 10%);
      background: lighten($body, 10%);
      color: #ffffff;
    }
  }

  &.green {
    border: 2px solid $green;
    color: $green;

    &:hover {
      border: 2px solid lighten($green, 10%);
      background: lighten($green, 10%);
      color: #ffffff;
    }
  }

  &:hover {
    border: 2px solid lighten($primary, 10%);
    background: lighten($primary, 10%);
    color: #ffffff;
  }
}

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: $body;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none;

  &.block {
    display: block;
    width: 100%;
  }
}



.leaderboard {
  padding: 15px;

  .leaderboard-item {
    margin-bottom: 15px;

    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 60px;

    .image {
      height: 100%;
      width: 60px;
      float: left;
      background-size: cover;
      background-position: center;
    }

    .name {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 10px 15px 0;
      font-weight: bold;
    }

    .summary {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 0px 15px 10px;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
    }

    .points {
      height: 100%;
      line-height: 43px;
      padding: 5px;
      width: 60px;
      float: right;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      background-color: #f7f7f7;
    }
  }
}