<script type="text/ng-template" id="menu-bar.html">
    <div template="menu">
        <div class="menu-background" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)"></div>
        <div class="menu" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)">
            <div class="menu-header" style="background-image:url('https://pbs.twimg.com/profile_images/535203215260676096/kmRf0jUn_400x400.jpeg')">
                <div class="header-overlay"></div>
                <div class="header-title">Nathan</div>
            </div>
            <div class="menu-item" ui-sref="home"><i class="fa fa-fw fa-home"></i> &nbsp; Home</div>
            <div class="menu-item" ng-click="$root.Alert.showMessage('Feature Coming Soon!')"><i class="fa fa-fw fa-user"></i> &nbsp; Profile</div>
            <div class="menu-item" ng-click="$root.Alert.showMessage('Feature Coming Soon!')"><i class="fa fa-fw fa-users"></i> &nbsp; New Group</div>
            <div class="menu-item" ng-click="logOut()"><i class="fa fa-fw fa-sign-out"></i> &nbsp; Logout</div>
        </div>
    </div>
</script>