<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <base href="/">

    <title>We Bet</title>
    <meta name="description" content="<%= ogDescription %>" />

    <!--<meta property="og:title" content="<%= ogTitle %>" />-->
    <!--<meta property="og:site_name" content="<%= ogSiteName %>"/>-->
    <!--<meta property="og:url" content="<%= ogUrl %>" />-->
    <!--<meta property="og:description" content="<%= ogDescription %>" />-->
    <!--<meta property="og:image" content="<%= ogImage %>" />-->
    <!--<meta property="og:type" content="<%= ogType %>"/>-->

    <!--<meta name="twitter:card" content="summary_large_image">-->
    <!--<meta name="twitter:site" content="@StoryNatives">-->
    <!--<meta name="twitter:title" content="<%= ogTitle %>">-->
    <!--<meta name="twitter:description" content="<%= ogDescription %>">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body data-ng-app="app">

<top-bar></top-bar>
<menu-bar></menu-bar>

<div ui-view></div>

<alert></alert>

<script type="text/ng-template" id="alert.html">
    <div template="alert">
        <div class="alert-message {{getColour()}}" ng-class="{active:getActive()}" ng-click="setActive(false)" ng-bind="getMessage()"></div>
    </div>
</script>
<script type="text/ng-template" id="feed.html">
    <div class="case">

        <div template="feed" style="height: {{feedHeight()}}">
            <div class="items">
                <div class="item-sizing">
                    <div class="item" ng-click="setCurrentGroup(1)">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('http://i4.mirror.co.uk/incoming/article6572401.ece/ALTERNATES/s615b/Arsenal-vs-Manchester-United.jpg')"></div>
                        <div class="item-content">
                            <div class="title">Premiership Game Of The Week</div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam architecto at blanditiis, eaque eligendi expedita ipsam iusto nam, quibusdam quis reiciendis rem tempore, temporibus. Adipisci beatae excepturi ipsam maiores neque, non officia officiis praesentium quo sed totam unde!
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item-sizing">
                    <div class="item">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('http://www.fifavip.net/upload/images/22222222.jpg')"></div>
                        <div class="item-content">
                            <div class="title">FIFA 16 Head to Head</div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam architecto at blanditiis, eaque eligendi expedita ipsam iusto nam, quibusdam quis reiciendis rem tempore, temporibus. Adipisci beatae excepturi ipsam maiores neque, non officia officiis praesentium quo sed totam unde!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-sizing">
                    <div class="item">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('http://www.medguidance.com/images/1HN00685/oreganoo.jpg')"></div>
                        <div class="item-content">
                            <div class="title">Grammar and Pronunciation</div>
                            <div class="description">
                                Because some people still don't know how to speak.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-sizing">
                    <div class="item">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('https://unsplash.it/750/750/?random&1')"></div>
                        <div class="item-content">
                            <div class="title">Grammar and Pronunciation</div>
                            <div class="description">
                                Because some people still don't know how to speak.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-sizing">
                    <div class="item">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('https://unsplash.it/750/750/?random&2')"></div>
                        <div class="item-content">
                            <div class="title">Grammar and Pronunciation</div>
                            <div class="description">
                                Because some people still don't know how to speak.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-sizing">
                    <div class="item">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('https://unsplash.it/750/750/?random&3')"></div>
                        <div class="item-content">
                            <div class="title">Grammar and Pronunciation</div>
                            <div class="description">
                                Because some people still don't know how to speak.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</script>
<script type="text/ng-template" id="login.html">
    <div template="login">
        <div class="login-container">
            <div class="login-top" style="background-image: url('/public/img/shattered.png')">
            <!--<div class="login-top">-->
                <div class="top-title">We Bet</div>
                <div class="top"></div>
            </div>
            <div class="login-bottom">
                <div class="login-thin">
                    <input class="input block" ng-enter="login(username, password)" type="text" placeholder="Email" ng-model="username" ng-init="username = 'nathan'">
                    <input class="input block" ng-enter="login(username, password)" type="password" placeholder="Password" ng-model="password" ng-init="password = 'nathan'">
                    <div class="butn block primary" ng-click="login(username, password)">Sign In</div>
                    <div class="butn block grey">Register</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="menu-bar.html">
    <div template="menu">
        <div class="menu-background" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)"></div>
        <div class="menu" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)">
            <div class="menu-header">
                <div class="header-title">Nathan Nelson</div>
            </div>
            <div class="menu-item"><i class="fa fa-fw fa-users"></i> &nbsp; New Group</div>
            <div class="menu-item" ng-click="logOut()"><i class="fa fa-fw fa-sign-out"></i> &nbsp; Logout</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nav-bar.html">
    <div template="nav-bar">
        <div class="bar">
            <div class="bar-item" ng-class="{active:isCurrentNav('groups')}" ng-click="setCurrentNav('groups')">
                Groups
            </div>
            <div class="bar-item" ng-class="{active:isCurrentNav('single')}" ng-click="setCurrentNav('single')">
                Single
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="top-bar.html">
    <div template="top-bar">
        <div class="bar" ng-class="{active:isLoggedIn()}">
            <div class="back-butn" onclick="history.go(-1);" ng-show="getCurrentPage() != 'home'" z="{{getCurrentPage()}}">
                <i class="fa fa-chevron-left"></i>
            </div>

            <div class="menu-butn" ng-click="setMenuVisible(!isMenuVisible())">
                <i class="fa fa-bars"></i>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="group-screen.html">
    <div screen>
        group
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen>
        <nav-bar></nav-bar>
        <feed></feed>
    </div>
</script>
<script type="text/ng-template" id="splash-screen.html">
    <div screen>
        <login></login>
    </div>

</script>
<div data-template="footer">
    <div class="footer">
    </div>
</div>

<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>
<!--<script src="https://raw.githubusercontent.com/lazd/iNoBounce/master/inobounce.js"></script>-->
</body>
</html>