<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <base href="/">

    <title>We Bet</title>
    <meta name="description" content="<%= ogDescription %>" />

    <!--<meta property="og:title" content="<%= ogTitle %>" />-->
    <!--<meta property="og:site_name" content="<%= ogSiteName %>"/>-->
    <!--<meta property="og:url" content="<%= ogUrl %>" />-->
    <!--<meta property="og:description" content="<%= ogDescription %>" />-->
    <!--<meta property="og:image" content="<%= ogImage %>" />-->
    <!--<meta property="og:type" content="<%= ogType %>"/>-->

    <!--<meta name="twitter:card" content="summary_large_image">-->
    <!--<meta name="twitter:site" content="@StoryNatives">-->
    <!--<meta name="twitter:title" content="<%= ogTitle %>">-->
    <!--<meta name="twitter:description" content="<%= ogDescription %>">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body data-ng-app="app">

<top-bar></top-bar>
<menu-bar></menu-bar>

<div ui-view></div>

<alert></alert>

<script type="text/ng-template" id="alert.html">
    <div template="alert">
        <div class="alert-message {{getColour()}}" ng-class="{active:getActive()}" ng-click="setActive(false)" ng-bind="getMessage()"></div>
    </div>
</script>
<script type="text/ng-template" id="feed.html">
    <div class="case">
        <div template="feed">
            <div class="items">

                <div class="item-sizing" ng-repeat="group in groups track by $index">
                    <div class="item" ui-sref="group({ _id: group._id })">
                        <div class="score">25</div>
                        <div class="image" style="background-image: url('{{group.image}}')"></div>
                        <div class="item-content">
                            <div class="title" ng-bind="group.title"></div>
                            <div class="description" ng-bind="group.summary"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="group-hero.html">
        <div template="group-hero">
            <div class="group-hero" style="background-image: url('{{image}}')">
                <div class="hero-background"></div>
                <div class="hero-title">{{title}}</div>
            </div>
        </div>
</script>
<script type="text/ng-template" id="group-nav-bar.html">
    <div template="group-nav-bar">
        <div class="bar">
            <div class="bar-item" ng-repeat="screen in getScreens() track by $index" ng-class="{active:isCurrentScreen($index)}" ng-click="setScreenIndex($index)">
                {{screen}}
            </div>
        </div>
        <div class="group-nav-content" style="transform:translateX({{getScreenIndex() * -100}}%); height: {{contentHeight()}}">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</script>
<script type="text/ng-template" id="login.html">
    <div template="login">
        <div class="login-container">
            <div class="login-top" style="background-image: url('/public/img/shattered.png')">
                <!--<div class="login-top">-->
                <div class="top-title">We Bet</div>
                <div class="top"></div>
            </div>
            <div class="login-bottom">
                <div class="login-thin">
                    <input class="input block" ng-enter="login(username, password)" type="text" placeholder="Email" ng-model="username" ng-init="username = 'nathan'">
                    <input class="input block" ng-enter="login(username, password)" type="password" placeholder="Password" ng-model="password" ng-init="password = 'nathan'">

                    <div style="height: 10px"></div>
                    <div class="butn block primary" ng-click="login(username, password)">Sign In</div>
                    <div class="butn block grey">Register</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="menu-bar.html">
    <div template="menu">
        <div class="menu-background" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)"></div>
        <div class="menu" ng-class="{active:isMenuVisible()}" ng-click="setMenuVisible(false)">
            <div class="menu-header" style="background-image:url('https://pbs.twimg.com/profile_images/535203215260676096/kmRf0jUn_400x400.jpeg')">
                <div class="header-overlay"></div>
                <div class="header-title">Nathan</div>
            </div>
            <div class="menu-item" ui-sref="home"><i class="fa fa-fw fa-home"></i> &nbsp; Home</div>
            <div class="menu-item" ng-click="$root.Alert.showMessage('Feature Coming Soon!')"><i class="fa fa-fw fa-user"></i> &nbsp; Profile</div>
            <div class="menu-item" ng-click="$root.Alert.showMessage('Feature Coming Soon!')"><i class="fa fa-fw fa-users"></i> &nbsp; New Group</div>
            <div class="menu-item" ng-click="logOut()"><i class="fa fa-fw fa-sign-out"></i> &nbsp; Logout</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="top-bar.html">
    <div template="top-bar">
        <div class="bar" ng-class="{active:isLoggedIn()}">
            <div class="back-butn" onclick="history.go(-1);" ng-class="{active:getCurrentPage() != 'home'}">
                <i class="fa fa-chevron-left"></i>
            </div>

            <div class="menu-butn" ng-click="setMenuVisible(!isMenuVisible())">
                <i class="fa fa-bars"></i>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="group-screen.html">
    <div screen>

        <group-nav-bar screens="['Leaderboard', 'Bet', 'Chat']">
            <div class="content-row">
                <group-hero image="getGroup().image"
                            title="getGroup().title">
                </group-hero>

                <div class="case">
                    <div class="leaderboard">
                        <div class="leaderboard-item">
                            <div class="image" style="background-image: url('https://pbs.twimg.com/profile_images/535203215260676096/kmRf0jUn_400x400.jpeg')"></div>
                            <div class="points">45</div>
                            <div class="name">Nathan</div>
                            <div class="summary">Arsenal</div>
                        </div>
                        <div class="leaderboard-item">
                            <div class="image" style="background-image: url('https://pbs.twimg.com/profile_images/603230570152361984/BlSDXc6r_400x400.jpg')"></div>
                            <div class="points">40</div>
                            <div class="name">Eddy</div>
                            <div class="summary">Arsenal</div>
                        </div>
                        <div class="leaderboard-item">
                            <div class="image" style="background-image: url('https://pbs.twimg.com/profile_images/486959235482152961/xvl6JDuQ.jpeg')"></div>
                            <div class="points">35</div>
                            <div class="name">Adrian</div>
                            <div class="summary">Arsenal</div>
                        </div>
                        <div class="leaderboard-item">
                            <div class="image" style="background-image: url('https://lh6.googleusercontent.com/-R9zbnUp-FvM/UT5CllGErCI/AAAAAAAAAB4/ESt8hgnClFk/w1062-h1600-no/IMGP5874-vi.jpg')"></div>
                            <div class="points">35</div>
                            <div class="name">Pritesh</div>
                            <div class="summary">Man United</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-row">
                <div class="bet">
                    <group-hero title="'Who will win between Arsenal and Man United?'"
                                image="'http://www.footballparadise.org/wp-content/uploads/2014/11/Arsenal-vs-Manchester-United.gif'"
                            ></group-hero>

                    <div class="case">
                        <div class="choices">
                            <div class="butn block primary">Arsenal</div>
                            <div class="butn block primary">Man United</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-row">

            </div>

        </group-nav-bar>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen>
        <group-nav-bar screens="['Groups', 'Single']">
            <div class="content-row">
                <feed groups="getGroups()"></feed>
            </div>
            <div class="content-row">

            </div>
        </group-nav-bar>
    </div>
</script>
<script type="text/ng-template" id="splash-screen.html">
    <div screen>
        <login></login>
    </div>

</script>
<div data-template="footer">
    <div class="footer">
    </div>
</div>

<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>
<!--<script src="https://raw.githubusercontent.com/lazd/iNoBounce/master/inobounce.js"></script>-->
</body>
</html>